@import "modern-normalize.css";

@font-face {
  font-family: "Norse";
  src: url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

body {
  max-height: 100vh;
  display: flex;
}

img {
  max-inline-size: 100%;
  display: block;
}

.sidebar {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Norse";
  font-weight: bold;
  font-size: 5rem;
  position: absolute;
  top: 20%;
  background-color: rgb(0 0 0 / 50%);
  color: white;
  width: 100%;
  padding: 2rem 0;
}

.sidebar-logo img {
  height: 15rem;
}

.sidebar-image-credit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
}

.sidebar-image-credit a:link {
    color: white;
}

main {
    flex: 1.5;
}