@import "modern-normalize.css";

@font-face {
  font-family: "Norse";
  src: url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
}


